// -------------------------
//  COLORS
//--------------------------
$pink: #fa7268;
$darkgray: #656565;
$gray: #797979;
$lightgray: #b2b2b2;
$white: #ffffff;
$black: #000000;

// -------------------------
//  FONTS
//--------------------------
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap");
$primary-font: "Catamaran", sans-serif;
