.card {
  background-color: $white;
  width: calc(50% - 20px);
  height: auto;
  padding: 31px 25px;
  .title-mediumblack {
    max-width: 70%;
    height: 35px;
    overflow: hidden;
    text-transform: uppercase;
  }
  .title-subtitle {
    margin-top: 17px;
    margin-bottom: 9px;
    height: 23px;
    overflow: hidden;
  }
  .text-small {
    margin-bottom: 27px;
    height: 72px;
    overflow: hidden;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
}

@include breakpoint(mobile) {
  .card {
    width: 100%;
    min-width: 240px;
    max-width: 450px;
    padding: 15px 10px;
  }
}
